{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        .card {
            margin: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    {% for deck in decks %}
        <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
            <div class="card-body">
                <h5 class="card-title">{{ deck.name }}</h5>
                <a href="{% url 'index' hash=deck.hash %}" class="card-link">Play</a>
                <a href="#" class="card-link" style="color: red;">Remove</a>
            </div>
        </div>
    {% endfor %}

    <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
        <div class="card-body">
            <h5 class="card-title">Create new deck</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ create_form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </div>

{% endblock %}