{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        .card {
            margin: 10px auto;
            width: 18rem;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>


{#    <h1 style="margin-left: auto; margin-right: auto; text-align: center">{{ deck.name }}</h1>#}
{#    {% for person in deck.person_set.all %}#}
{##}
{#        <div class="card mb-3">#}
{#            <div class="row no-gutters">#}
{#                <div class="col-md-4">#}
{#                    <img src="{{ person.photo.url }}" class="card-img" alt="{{ person.name }}">#}
{#                </div>#}
{#                <div class="col-md-8">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">{{ person.name }}</h5>#}
{#                        <a href="#" class="card-link">Remove</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">{{ person.name }}</h5>#}
{#                <a href="#" class="card-link">Remove</a>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{##}
{#    <div class="card">#}
{#        <div class="card-body">#}
{#            <a href="#" class="card-link">New Person</a>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="card">#}
{#        <div class="card-body">#}
{#            <a href="#" class="card-link">Remove Deck</a>#}
{#        </div>#}
{#    </div>#}


{% endblock %}